@model AccountCreateModelView

@{
    ViewBag.Title = "Регистрация ";
    Layout = "_Layout";
}
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <h2>Регистрация нового пользователя</h2>
        <form method="post" asp-controller="Manager" asp-action="CreateEmployee">
            <div asp-validation-summary="ModelOnly"></div>

            <label asp-for="Role">В качестве кого регистрируетесь?</label>
            <select id="list" class="form-control mb-4" asp-for="Role" onchange="change()">
                <option></option>
                <option value="marketer">маркетолог</option>
                <option value="seller">продавец</option>
                <option value="admin">администратор</option>
            </select>
            <div>
                <span asp-validation-for="Email"></span>
                <label asp-for="Email"></label><br/>
                <input class="form-control mb-4" asp-for="Email"/>
            </div>
            <div>
                <span asp-validation-for="NameSurname"></span>
                <label id="nameSurname"></label><br/>
                <input class="form-control mb-4" asp-for="NameSurname"/>
            </div>
            <div>
                <span asp-validation-for="UserName"></span>
                <label asp-for="UserName"></label><br/>
                <input class="form-control mb-4" asp-for="UserName"/>
            </div>
            <div>
                <br/>
                <input class="btn btn-info btn-block my-4" type="submit" value="Регистрация"/>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
    
     function change() {
        	var z = document.getElementById("list").value;
        	if (z === "marketer"){
        	    document.getElementById("nameSurname").innerHTML = "ФИО   " + "маркетолога" ;
        	}
        	else if (z === "seller"){
        	     document.getElementById("nameSurname").innerHTML = "ФИО   " + "продавца" ;
        	}
        	else if (z === "admin"){
        	     document.getElementById("nameSurname").innerHTML = "ФИО   " + "администратора" ;
        	 }	
        }
     </script>
}