@model Employee

@{
    ViewBag.Title = "Редактирование полей сотрудника";
    Layout = "_Layout";
}
<div class="container">
    <h2 class="text-center">Редактирование полей сотрудника</h2>
    
</div>