@inject UserManager<Employee> UserManager
@using Microsoft.AspNetCore.Identity
@model Employee
@{
    ViewBag.Title = "Страница старший менеджера";
    Layout = "_Layout";
}

<h2>Старший менеджер</h2>
