@inject UserManager<Employee> UserManager
@using Microsoft.AspNetCore.Identity
@model ManagerIndexModelView
@{
    ViewBag.Title = "Личный кабинет менеджера";
    Layout = "_Layout";
}
<h2>Старший менеджер</h2>

<div class="row">
    <div class="col-6">
        <h6>ФИО : @Model.Employee.NameSurname </h6>
        <h6>Email : @Model.Employee.Email</h6>
        <h6>Логин : @Model.Employee.UserName</h6>
    </div>

    <div class="col-6">
        <a asp-action="CreateEmployee" asp-controller="Manager" class="btn btn-dark">Создать пользователя</a>
        <a asp-action="CreateGroup" asp-controller="Group" class="btn btn-dark">Создать группу </a>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Действия профиля
            </button>
            <div class="dropdown-menu">
                <div id="editProfileBtn" class="dropdown-item cursor-p">Редактировать профиль</div>
                <div id="changePasswordBtn" class="dropdown-item cursor-p">Изменить пароль</div>
            </div>
        </div>
    </div>
    <div class="form-row mt-3">
        @{
            await Html.RenderPartialAsync("PartialViews/PasswordChangePartial", Model.Model);
        }
    </div>
    <div class="form-row mt-3">
        @{
            await Html.RenderPartialAsync("PartialViews/ManagerAccountEditPartial", Model.ManagerEditModel);
        }
    </div>
</div>


<div id="modal-place"></div>
@section Scripts{
    @if (Model.IsModalInvalid)
    {
        <script>
            $('#changePasswordModal').modal('show');
        </script>
    }
    <script>
        $("#changePasswordBtn").on("click", function () {
            $("#changePasswordModal").modal('show');
        })
    </script>
    @if (Model.IsEditInvalid)
    {
        <script>
            $('#editProfileBtn').modal('show');
        </script>
    }
    <script>
            $("#editProfileBtn").on('click', function () {
                if (document.getElementById('editPrifileModal')) {
                    $('#editPrifileModal').modal('show');
                }
                else {
                    $.get('@Url.Action("GetEditModalAjax", "Manager")', function (data) {
                        $("#modal-place").html(data);
                        $(document.getElementById('editPrifileModal')).modal('show');
                    });
                }
            })
    </script>
}