@model ChangePasswordModelView
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changePasswordModal">
    Поменять пароль
</button>

<!-- Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="ChangePassword" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Введите текущий пароль<span class="text-danger">*</span></label>
                        <input class="form-control" asp-for="CurrentPassword">
                        <span asp-validation-for="CurrentPassword"></span>
                    </div>
                    <div class="form-group">
                        <label>Введите новый пароль<span class="text-danger">*</span></label>
                        <input class="form-control" asp-for="NewPassword">
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="form-group">
                        <label>Подтвердите пароль<span class="text-danger">*</span></label>
                        <input class="form-control" asp-for="PasswordConfirm">
                        <span asp-validation-for="PasswordConfirm"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}