@inject UserManager<Employee> UserManager
@using Microsoft.AspNetCore.Identity
@model Employee
@{
    ViewBag.Title = "Главна страница";
    Layout = "_Layout";
}

<h2>Добро пожаловать на главную страницу</h2>
