@inject UserManager<Employee> UserManager
@using Microsoft.AspNetCore.Identity
@model AdminIndexModel

@{
    ViewBag.Title = "Главная";
    Layout = "_Layout";
}
<h2>Админ</h2>

<div class="container" >

    <div class="row" >
        <div class="col-sm-4">
            <ul class="list-group ">


                <div id="info">
                    <h6 id="name">ФИО : @Model.Employee.NameSurname </h6>
                    <h6 id="email">Email : @Model.Employee.Email</h6>
                    <h6 id="login">Логин : @Model.Employee.UserName</h6>
                </div>
                   
             
                <li class="list-group-item">
                    <a onclick="showInPopup('@Url.Action("Edit","Admin",new {id=@Model.Employee.Id},Context.Request.Scheme)')" class="btn btn-info text-white"> Редактировать профиль</a>
                </li>
                <li class="list-group-item">
                    <button id="changePasswordBtn" class=" btn  form-control btn-info text-white" >Изменить пароль</button>
                </li>
                
                <li class="list-group-item">Добавить клиента</li>
                <li class="list-group-item">Посещаемость</li>
          
            </ul>
        </div>
        <div class="col-sm-8">
            <div class="form-row mt-3">
                @{
                    await Html.RenderPartialAsync("~/Views/Chief/PartialViews/PasswordChangePartial.cshtml", Model.Model);
                }
            </div>
                       

        </div>

    </div>
</div>


@section Scripts{
    @if (Model.IsModalInvalid)
       {
           <script>
               $('#changePasswordModal').modal('show');
           </script>
       }
    <script>
        $("#changePasswordBtn").on("click", function () {
            $("#changePasswordModal").modal('show');
        })
        function checkRequired(text) {
            if (text.length == 0) {
                return false;
            }
            return true;
        };
      
    </script>
   
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
